# Ambientes
.venv/
venv/
env/
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Dados gerados localmente
data/interim/*
!data/interim/.gitkeep

# Modelos gerados localmente

!models/.gitkeep


# Sistema
.DS_Store
Thumbs.db
